<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel Heros</title>
    <link rel="icon" href="~/imgs/favicon-32x32.png" type="image/x-icon">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="page-loader">
        <div class="loader-img">
            <img src="~/imgs/marvel.svg" alt="" style="height: 35px;" class="rounded">
        </div>
    </div>

    <nav class="navbar navbar-light navbar-dark p-0">
        <div class="container d-flex justify-content-center">
            <a class="navbar-brand text-primary" href="#">
                <img class="d-block img-fluid w-100 logo" src="~/imgs/marvel.svg">
            </a>
        </div>
    </nav>
    <div class="py-5-custom" style="
        background-image: url('../../imgs/banner.jpg');
        background-position: center center, center center;
        background-size: cover, cover;
        background-repeat: no-repeat, no-repeat;">
        <div class="container py-5-custom">
            <div class="row">
                <div class="text-center mx-auto col-md-12">
                    <h1 class="text-white mb-4 banner-caption">Conheça mais do seu personagem favorito</h1>
                </div>
            </div>
        </div>
    </div>
    
    @RenderBody()       
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">

        $(window).on('load', function () {
            $("#page-loader").fadeOut();
        });

        loadingMonitor();

    </script>
</body>
</html>
